.container {
  width: 1440px;
  height: 810px;
  margin: 0 auto;

  //   background-color: red;
  border: 1px solid black;
  display: flex;
  .item1 {
    width: 592px;
    height: 100%;
    background-color: #f6f6f6;

    .box {
      //   background-color: red;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 400px;
      .LogoAlta {
        margin: 0 auto;
        width: 170px;
        height: 136px;
        margin-top: 82px;
      }
      .input {
        position: relative;
        z-index: 1;
        // margin-top: -100px;
        display: inline-block;
        .Eyes {
          width: 17px;
          height: 17px;
          position: absolute;
          //   top: %;
          top: 60px;
          right: 5px; /* Khoảng cách từ bên phải */
          transform: translate(0, -50%);
          cursor: pointer;
        }
        .Eyes1 {
          width: 17px;
          height: 17px;
          position: absolute;
          //   top: %;
          top: 150px;
          right: 5px; /* Khoảng cách từ bên phải */
          transform: translate(0, -50%);
          cursor: pointer;
        }
      }
      input {
        border: 1.5px solid #d4d4d7;
        padding-left: 8px;
        font-size: 17px;
        width: 400px;
        height: 44px;
        // border-top: #d4d4d7;
        border-radius: 8px;
        // border-color: #d4d4d7;
      }
      .forgotPassword1 {
        // color: red;
        margin-top: -12px;
        // font-size: 14px;
      }
      .buttonDelete {
        // textDecoration: "none"
        border: 1px solid #ff9138;
        // border-color: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 auto;
        width: 162px;
        height: 50px;
        // background-color: #ff9138;
        // margin-bottom: 259px;
      }
      .button {
        text-decoration: none;
        border: none;
        // border-color: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 auto;
        width: 162px;
        height: 50px;
        background-color: #ff9138;
        // margin-bottom: 259px;
      }
      .button:hover,
      .forgotPassword:hover {
        cursor: pointer;
      }
    }
  }
  .item2 {
    display: flex;
    flex-direction: column;
    width: 848px;
    position: relative;
    .ImageManager {
      width: 711px;
      height: 560px;
      // background-color: red;
      margin: 153px 94px 97px 43px;
    }
    p {
      font-size: 34px;
      //   counter-reset: ;
    }
    .box2 {
      top: 407px;
      left: 445px;
      position: absolute;
    }
  }
}
